body {
    display: inline-block;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(75, 90, 90);
    overflow: hidden;
    margin: 0;
}
#header-box {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 100%;
    height: 5%;
    background-color: rgb(147, 191, 147);
    border-bottom: black 3px solid;
    box-sizing: border-box;
}
#background-box {
    display: block;
    margin: auto;
    box-sizing: border-box;
    border-bottom: black 3px solid;
    width: 100%;
    height: 85%;
    background-color: rgb(176, 176, 224);
}
#footer-box {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 5%;
    background-color: rgb(199, 163, 163);
}